@import "tailwindcss";

/* Prevent horizontal scroll globally */
html,
body,
#root {
    overflow-x: hidden;
    scrollbar-width: none;

}

/* Optional: tighter clipping if you’re on a newer Tailwind */
@supports (overflow-x: clip) {

    html,
    body,
    #root {
        overflow-x: clip;
    }
}